/* ==UserStyle==
@name           Netacad dark mode
@namespace      github.com/LostViking09/NetacadDarkmode
@version        1.1.3
@description    A custom, responsive dark style for NetAcad Contenthub pages to avoid eyestrain.
@author         LostViking09
@advanced  text     a_fontsize       "Content Font Size (in px)"  "17"
==/UserStyle== */
@-moz-document domain("contenthub.netacad.com") {
    /* Írj kódot ide… */
    .block-container h1 {
        background: linear-gradient(90deg, #00bceb6b 0, #6001adab);
    }

    .chunk-container.chunk > .container h2 {
        color: #0aa890;
    }
    
    /* -- Radio buttons & tests -- */
    .cyu-quiz-container .question-container .question.question-incorrect {
        background: linear-gradient(90deg, #eb33002b 0, #ad0101ab);
        border:none;
        color: white;
    }
    
    .cyu-quiz-container .question-container .question.question-correct {
        background: linear-gradient(90deg, #7deb002b 0, #04ad01ab);
        border:none;
        color: white;
    }
    
    .cui .radio input.checked ~ .radio__label, .cui .radio input:checked ~ .radio__label {
        color: #0aa896 !important;
        /*color: #0aa890;*/
        text-decoration: underline dotted;
    }
    
    .cui button, .cui input, .cui select, .cui textarea {
        color: white;
    }
    .cui .checkbox, .cui .radio {
        margin-top: 10px;
    }
    
    .cui .checkbox .checkbox__label, .cui .radio .radio__label {
        color: #c9c9c9!important;
    }
    
    .cui .checkbox input.checked ~ .checkbox__label, .cui .checkbox input:checked ~ .checkbox__label{
        color: #0aa896 !important;
        /*color: #0aa890;*/
        text-decoration: underline dotted;
    }
    
    
    .cyu-quiz-container .question-container{
        padding-bottom: 20px;
        border-bottom: 1px white solid;
    }
    
    .cyu-quiz-container .question-container .cyu-question p {
        color: white;
    }
    
    /*-------------------------------*/

    .chunk-container.chunk {
        border-bottom: 3px solid #c6c7ca;
    }

    .animate{
        border: none;
        background-color: grey;
        filter: brightness(50%);
        transition: 200ms;
    }
    
    .animate:hover{
        filter: brightness(100%);
        transition: 200ms;
        background-color: #acacac!important;
    }    
    
    .animate .player-controls .play-pause {
        color: #fff;
        border: none;
    }
    
    .animate .animate-component .animate-component-canvas{
        border: none;
        background-color: grey;
        transition: 200ms;
    }
    
    .animate .animate-component .animate-component-canvas:hover{
        transition: 200ms;
        background-color: #acacac!important;
    }
    
    .animate .player-controls {
        background-color: #616161;
    }
    
    .cui .card,
    .cui a.card,
    .wrapper {
        border: none;
        background-color: grey;
        filter: brightness(50%);
        transition: 200ms;
    }

    .cui .card:hover,
    .cui a.card:hover,
    .wrapper:hover {
        filter: brightness(100%);
        transition: 200ms;
        background-color: #acacac!important;
    }

    .chunk-container.chunk .current-li {
        background-color: #737373;
        border: none;
    }

    .cui .toast,
    .Toastify__toast--default {
        background-color: #141414;
        color: lightgrey;
    }

    .Toastify__toast--default {
        border: 1px solid lightgray;
    }

    .cui .main-content-wrapper .layout-wrapper,
    .footer-navigation {
        color: lightgrey;
        background-color: #141414;
        border: none;
    }

    .cui .alert,
    .cui .alert.alert--info,
    .cui .radio .radio__label {
        color: lightgrey;
    }


    #root {
        background-color: black!important;
        border: none;
    }

    .mediaExpandedView {
        filter: none!important;
        background-color: #000000d1;
    }

    th,
    td {
        background-color: rgb(10, 10, 10)!important;
    }

    .cui .header-heading .page-title {
        color: white;
    }

    /* Larger text */
    body {
        font-size: /*[[a_fontsize]]*/px !important;
    }
    .cui .app-header {
        position: relative !important;
        background-color: #091c37;
        border: none;
    }

    #side-nav,
    .app-header {
        border: none;
        filter: opacity(20%);
    }

    #side-nav:hover,
    .app-header:hover {
        filter: opacity(75%);
    }

    .nav-toggle {
        color: white!important;
    }

    .btn {
        color: darkgrey!important;
        background-color: black!important;
    }
}
